# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем тяжелые модели нейросетей
*.gguf
*.bin

# Игнорируем папку с бинарниками Tesseract (пользователи скачают его сами)
tesseract/

# Игнорируем логи и системный мусор
*.log
.DS_Store